# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

mwImports/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
mwImports/obj/Debug/mwImports.csproj.FileListAbsolute.txt
mwImports/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
mwImports/mwImports.csproj
mwImports/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
mwImports/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
mwImports/bin/Debug/mwImports.vshost.exe.manifest
mwImports/bin/Debug/mwImports.vshost.exe.config
mwImports/bin/Debug/mwImports.vshost.exe
mwImports/bin/Debug/mwImports.exe.config
mwImports/App.config
mwImports.v12.suo
mwImports.sln
mwImports/Properties/Resources.resx
mwImports/Properties/AssemblyInfo.cs
mwImports/Properties/Resources.Designer.cs
mwImports/Properties/Settings.Designer.cs
mwImports/Properties/Settings.settings